body {
    width: 1128px;
    margin: 0 auto;
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
}
.gallery {
    width: 1128px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item img {
    width: 360px;
    height: 200px;
}

.modal img {
    width: 1112px;
    height: 640px;
}